<nav class="navbar justify-content-between nav-bar-logo">
  <div class="content-nav-logo">
    <div class="help">Singup</div>

    <div class="help">Ayuda</div>
  </div>
</nav>

<br>
<br>

<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Registrate.</mat-card-title>

      <div class="text-right">
        <a (click)="goToLogin()" href="http://" target="_blank" rel="noopener noreferrer">Volver.</a>
      </div>

    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <input #username name="username" matInput placeholder="Ingresa usuario o correo" type="text">
            <button mat-icon-button matSuffix>
              <mat-icon>person
              </mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <input matInput #password name="password" placeholder="Ingresa tu contraseña"
              [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>

      <div class="text-center">
        <button type="submit" [disabled]='(!password.value || !username.value)' mat-raised-button color='warn' (click)="signUp(username.value, password.value, $event)"
          id="login-button">Ingresar</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<footer>
  <div class="footer">
    <div class="container1">
      <div class="text-center">
        <h6>© {{ year }} AutoClient. Todos los derechos reservados.</h6>
      </div>
    </div>
  </div>
</footer>