<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
    <form #addClientForm="ngForm">
        
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Nombre" [disabled]='data.module === 3' [ngModelOptions]="{standalone: true}" [(ngModel)]="data.data.name" required>
            </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field class="example-full-width">
            <mat-label>Concesionario</mat-label>
            <mat-select [ngModelOptions]="{standalone: true}"  [disabled]='data.module === 3' [(ngModel)]="data.data.dealer" required>
                <mat-option *ngFor="let dealer of dealers" [value]="dealer">
                    {{dealer}}
                </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field class="example-full-width">
            <mat-label>Ciudad</mat-label>
            <mat-select [ngModelOptions]="{standalone: true}"  [disabled]='data.module === 3' [(ngModel)]="data.data.city" required>
                <mat-option *ngFor="let city of cities" [value]="city">
                    {{city}}
                </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

    </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cerrar</button>
  <button [disabled]="validateDataClient() || data.module === 3" mat-button [mat-dialog-close]="data.data" cdkFocusInitial>{{title | slice:0:9 }}</button>
</div>
