<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">

                        <!-- Preguntas   -->
                        <mat-card class="mat-card-m">
                            <mat-card-header>
                                <mat-card-title class="over-title">
                                    <mat-icon mat-list-icon>shopping_basket</mat-icon>  Clientes 
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <mat-list style="margin-left: 5%">
                                    <mat-list-item>
                                        <h5 mat-line> 
                                            <button [style.background-color]="countClientsActive > 0 ? '#cf0a2c' : ''" (click)="goToClients()" class="btn btn-sm">{{ countClientsActive }}</button>
                                            <a (click)="goToClients()" href="javascript:void(0)">  Activos</a>
                                        </h5>
                                    </mat-list-item>

                                    <mat-list-item>
                                        <h5 mat-line> 
                                            <button [style.background-color]="countClientsInactive > 0 ? '#cf0a2c' : ''" (click)="goToClients()" class="btn btn-sm">{{ countClientsInactive }}</button>
                                            <a (click)="goToClients()" href="javascript:void(0)">  Inactivos</a>
                                        </h5>
                                    </mat-list-item>
                                </mat-list>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div class="col">
                         <!--  Publicaciones -->
                         <mat-card class="mat-card-m">
                            <mat-card-header>
                                <mat-card-title class="over-title">
                                    <mat-icon mat-list-icon>store</mat-icon>  Consecionarios 
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <mat-list style="margin-left: 5%">
                                    <mat-list-item>
                                        <h5 mat-line> 
                                            <button class="btn btn-sm">0</button>
                                            <a href="javascript:void(0)">  Activos</a>
                                        </h5>
                                    </mat-list-item>

                                    <mat-list-item>
                                        <h5 mat-line> 
                                            <button class="btn btn-sm">0</button>
                                            <a href="javascript:void(0)">  Inactivos</a>
                                        </h5>
                                    </mat-list-item>

                                </mat-list>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>